extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Restaurants Near Me
          small &nbsp; Find nearby restaurants

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Starmeal
            p.address 123 First Street, Neverland
    .col-xs-12.col-sm-4
      p.lead Restaurants Near Me helps you find nearby restaurants.            